/* .station{
    width: 350px;
    height: 100px;
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 15px;
}
.imagePlayer{
    width: 35%;
    background-color: turquoise;
    
}
.stationName{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 50px;
} */